<p ngNonBindable>{{ 3.14659265 | number: '3.1-2' }}</p> 
<p>{{ 3.14659265 | number: '3.1-2' }}</p> 
<p ngNonBindable>{{ 3.14159265 | number: '3.1-2' :'fr'}}</p> 
 <p>{{ 3.14159265 | number: '3.1-2' :'fr'}}</p> 
 <p>{{ 1234.56 | currency:'GBP':false }}</p>
 <p>{{ 1234.56 | currency:"GBP":true }}</p>
 <p>{{locale}}</p>
 <h1>Purchases from {{ company | titlecase }}</h1> 
 <p>The event will occur at {{ scheduledOn | date:'hh:mm' | uppercase }}.</p>
 <p>{{x }}</p>
 <p>{{x | async}}</p>
  <!-- Total Whitespace: 20 -->
