
<!-- <p>{{eList}}</p> -->

<!-- <div *ngIf="eList.length > 0">
    <h4>Employees List</h4>
</div> -->
<!-- <div *ngIf="!eList.length === 0"></div> -->
<!-- <div *ngIf="!eList.length">
    <p>No employees yet</p>
</div>

<div *ngIf="eList.length else message">
    <h4>Employees List</h4>
</div> -->
<!-- <div *ngIf="!eList.length === 0"></div> -->
<!-- <ng-template #message>
    <p>No employees yet</p>
</ng-template> -->
<!-- @if(eList.length){ -->
    <h4>Employees List with  if</h4>
    @for(emp1 of eList; track emp1.eid){
        <!-- <app-employee [company]="'Rebit'" 
        (idEvent)="onDeleteEvent($event)"
        [data]="emp1"/> -->

        <app-employee [company]="'Rebit'" 
        [data]="emp1">
        <button del (click)="onDeleteEvent(emp1.eid)">Delete</button>
        <button header (click)="onEditEvent(emp1.eid)">EDIT</button>
        <!-- <h1 style="color: chartreuse;" header>Header</h1> -->
        </app-employee>
        
    }
    @empty{
        <p>No employees yet with else</p>
    }
    <!-- <div *ngFor="let e of eList">
        <app-employee [data]="e"></app-employee>
    </div> -->
<!-- }
@else{
    <p>No employees yet with else</p>
} -->