<h1>Reactive Forms</h1>



<h1> Form Array Example</h1>
<form [formGroup]="skillsForm" (ngSubmit)="onSubmitSkills()">
 
    <p>
      <label for="name">Name </label>
      <input type="text" id="name" name="name" formControlName="name">
      <ng-container *ngIf="skillsForm.controls['name'].touched && skillsForm.controls['name'].invalid && skillsForm.controls['name'].hasError('required')">
        <span class="text-danger">Name is required</span>
      </ng-container>
    </p>
   
   
    Skills:
    <div formArrayName="skills">
      <div *ngFor="let skill of skills.controls; let i=index">
        <div [formGroupName]="i">
          {{i}}
          skill name :
          <input type="text" formControlName="skill">
          exp:
          <input type="text" formControlName="exp">
   
          <button (click)="removeSkill(i)">Remove</button>
        </div>
      </div>
    </div>
   
    <p>
        <button type="button" (click)="addSkills()">Add</button>
      </p>
    <p>
      <button type="submit">Submit</button>
    </p>
   
  </form>
   
   
 
   
  {{this.skillsForm.value | json}}
   

<h3>{{empform.value | json}}</h3>
<h3>{{empform.status }}</h3>
<form [formGroup]="empform" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <input type="text" class="form-control" 
        [ngClass]="{'is-invalid':empform.controls['ename'].invalid && empform.controls['ename'].touched}"
        formControlName="ename" placeholder="Enter name"/>
        <div *ngIf="empform.controls['ename'].invalid && empform.controls['ename'].touched">
            <span class="text-danger" *ngIf="empform.controls['ename'].hasError('required')">Name is required</span>
            <span class="text-danger" *ngIf="empform.controls['ename'].hasError('minlength')">length 5</span>
        </div>
        
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" 
      [ngClass]="{'is-invalid':empform.controls['lname'].invalid && empform.controls['lname'].touched}"
      formControlName="lname" placeholder="Enter last name"/>
      <!-- <div *ngIf="empform.controls['ename'].invalid && empform.controls['ename'].touched">
          <span class="text-danger" *ngIf="empform.controls['ename'].hasError('required')">Name is required</span>
          <span class="text-danger" *ngIf="empform.controls['ename'].hasError('minlength')">length 5</span>
      </div> -->
      
  </div>
    <div class="mb-3">
        <input type="text" class="form-control" [ngClass]="{'is-invalid':email.invalid && email.touched}"
        formControlName="email" placeholder="Enter email"/>
        <div *ngIf="email.touched && email.invalid && email.hasError('required')">
            <span class="text-danger">Email is required</span>
        </div>
    </div>
 <div class="mb-3">
        <input type="text" class="form-control" [ngClass]="{'is-invalid':password.invalid && password.touched}"
        formControlName="password" placeholder="Enter password"/>
        <div *ngIf="password.touched && password.invalid && password.hasError('abc')">
            <span class="text-danger">! is required</span>
        </div>
    </div>
        <div [formGroup]="address">
        <div class="mb-3">
            <input type="text" class="form-control"
            formControlName="city" placeholder="Enter city"/>
            <div *ngIf="city.touched && city.invalid && city.hasError('required')">
                <span class="text-danger">It is required</span>
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
<!-- {{subsemail.value}} -->
 <h1>Subscription Email</h1>
<input type="text" class="form-control" [formControl]="subsemail" 
placeholder="enter email to subscribe"> 
<button (click)="subscribe()">Subscribe</button>

