.tooltip1 {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  z-index: 1;
  top: 10px;
  left: 30%;
  transform: translateX(-50%);
  display: none;
}

:host(:hover) .tooltip1 {
  display: block;
}
/* div .tooltip1:hover {
    display: block;
  } */
button, div{
    position: relative;
}
 