
<h1>Parent Component</h1>
<input type="checkbox" [(ngModel)]="show" id="">Show
<div> Message : 
    <input #msginput
    type="text" [(ngModel)]="pMsg" id=""></div>
<div>Prod name: <input type="text" 
    [(ngModel)]="product.name" id=""></div>
<ng-container *ngIf="show">
    <app-child [prod]="product"
     [message]="pMsg">
        <p #p>Content Child</p>
        <div #p>Content Child</div>
        <h3 #p>Content Child</h3>
    </app-child>
</ng-container>
<button (click)="clickMe()">Click</button>

